.container {

}
.header {
    width: 1170px;
    height: 39px;
    margin:auto;
}
    .tab1 {
        width: 201px;
        height: 39px;
        float: left;
        display: flex;
        align-items: center;
        Justify-content:center;
        border: 1px solid #C6CBCD;
        border-bottom: 0px;
    }
    .tab2 {
        width: 201px;
        height: 39px;
        float: left;
        display: flex;
        align-items: center;
        Justify-content:center;
    }
    .tab3 {
        width: 201px;
        height: 39px;
        float: left;
        display: flex;
        align-items: center;
        Justify-content:center;
    }
.content {
    width: 1170px;
    height: 500px;
    border: 1px solid #C6CBCD;
    margin:auto;
}
.LeftSide {
    width: 700px;
    height: 500px;
    float: left;   
}
    .zaglavie {
        width: 570px;
        height: 124px;
        margin-left: 100px;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 41px;
    }
    .text {
        width: 570px;
        height: 210px;
        margin-left: 100px;
        margin-top: 27px;
    }
    .button {
        width: 270px;
        height: 58px;
        margin-left: 100px;
        margin-top: 27px;
        background: #EC7979;
        color: white;
        display: flex;
        align-items: center;
        Justify-content:center;
    }
.RightSide {
    width: 470px;
    height: 500px;
    float: left;
}